@charset "utf-8";

body {
    background-color: #4a4a4a;
    height: 100vh;
}

.side {
    height: 80vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
    margin-left: 6vw;
    border-right: 1px solid white;
    background-color: #4a4a4a;
    position: fixed;
    z-index: 4;
}

.bottom {
    width: 85vw;
    margin-left: 6vw;
    padding-right: 5vw;
    border-top: 1px solid white;
    background-color: #4a4a4a;
    position: fixed;
    margin-top: 95vh;
    padding-bottom: 5vh;
    z-index: 6;
    /* why isn't this overlaying the shadow */
}

/* .bottom::before {
    content: '';
    width: 85vw;
    height: 1px;
    background-color: black;
    filter: blur(5px);
    z-index: 5;
    margin-bottom: 0px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 0px;
    position: absolute;
} */

.nv {
    border: none;
    border-radius: 30px;
    margin: 2%;
    background-color: #4a4a4a;
    z-index: 2;
}
.nv-backer {
    background-color: #4a4a4a;
    padding: 0;
    z-index: 1;
    height: 10vh;
    width: 100vw;
    position: fixed;
}

.wt {
    filter: invert(1);
}

.z0 {
    z-index: 0;
    margin-bottom: 15vh;
}

.first-item {
    color: white;
    text-align: center;
    margin-top: 35vh;
    width: auto;
    height: 65vh;
}

.e-page {
    height: 100vh;
}

.entry {
    box-shadow: 5px 5px 10px 10px rgb(0, 0, 0, .25);
    cursor: pointer;
    width: auto;
    height: max-content;
    border-radius: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.e-wrap {
    height: max-content;
}

.plus-wrap {
    margin-top: -20vh;
    height: max-content;
}

.plus {
    color: white;
}

.plus:hover {
    color: lightsteelblue;
}

.entry:hover {
    box-shadow: 2px 2px 10px 5px rgb(255, 255, 255);
}

.footer {
    height: 90vh;
    width: 100vw;
    background-color: #4a4a4a;
    z-index: 3;
    padding-left: 3vw;
}

.form-input {
    border: none;
}

.form-input:focus {
    border: 1px solid white;
}

.contact-button {
    border-radius: 35px;
    width: 30vw;
    background-color: lightsteelblue;
    color: white;
}

.contact-button:hover {
    color: white;
    box-shadow: -1px -1px 10px 7px rgb(255, 255, 255);
}

.f-button {
    width: 20%;
    height: 20%;
    align-self: flex-end;
    /* margin-bottom: 5vh; */
    filter: invert(1);
    margin-left: 3.5vw;
    border-radius: 20px;
}

.f-button:active {
    border: none;
}

.f-button:focus {
    border: none;
}

.f-icon.fa-github {
    border-radius: 30px;
}

.f-icon.fa-codepen {

}

.f-icon:hover {
    box-shadow: 2px 2px 10px 5px rgb(0, 0, 0, .5);
}

@media only screen and (min-width: 780px) {
    .entry {
        width: 80vw;
    }
}