@charset "utf-8";

body {
    background-image: radial-gradient(#e8fdf8 60%, #a1f7e2 90%, #99ffe6 95%);
    height: 100vh;
}

.navbar {
    border: 2px solid none;
    border-radius: 30px;
    margin: 2%;
}

.first-item {
    margin-top: 15vh;
}

.entry {
    max-width: 55vw;
    box-shadow: 5px 5px 10px 10px rgb(0, 0, 0, .25);
    cursor: pointer;
    }

.entry:hover {
        box-shadow: 5px 5px 10px 10px rgb(255, 255, 255);
}