@charset "utf-8";

body {
    background-image: radial-gradient(#e8fdf8 60%, #a1f7e2 90%, #99ffe6 95%);
    height: 100vh;
}

.navbar {
    border: 2px solid none;
    border-radius: 30px;
    margin: 2%;
}